/* $pink: #F3D6F4;
$yellow-green: #D4DE64;
$green: #0A5448;
$honeydew: #F3FDF2; */

@import url(../vendor/normalize.css);

.page {
    background-color: whitesmoke;
    min-width: 320px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #0A5448;
}

.header {
    width: 100%;
    margin: 0 0 80px;
    position: fixed;
}

.section {
    margin: 0 120px 220px;
}

.section__title {
    font-size: 56px;
    margin: 0 0 60px;
    /* max-width: 70%; */
}

.about-me__title {
    font-size: 72px;
    margin-bottom: 180px;
}

.section__span {
    color: #F3D6F4;
    text-shadow: 5px 5px 5px rgb(155, 154, 154);
}

.navigation {
    margin: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* outline: #F3D6F4 dotted 5px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgba(245, 245, 245); */
    padding: 20px; 
}

.navigation__link {
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
    color: #0A5448;
}

.navigation__link:hover {
    color: #F3D6F4;
}

.navigation__link:last-of-type {
    margin-right: 0;
}

.about-me {
    padding-top: 180px;
}

.about-me__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
    background-color: rgba(227, 227, 227, 0.2);
    outline: #F3D6F4 8px double;
}

.role {
    opacity: 0;
    animation: animation 5s forwards infinite;
    animation-delay: 2.5s;
  }
  
  @keyframes animation {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
  }

.about-me__stack {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    /* gap: 12px; */
}

.about-me__technology {
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    transition: 0.4s;
    color: #F3D6F4;
    background-color: #0A5448;
    margin-right: 12px;
}

.about-me__technology:hover {
    background-color: #F3D6F4;
    color: #0A5448;
}

.about-me__portrait {
    width: 400px;
    margin-right: 80px;
    margin-top: 60px;
}

.about-me__header {
    margin: 0 0 30px;
    font-size: 32px;
}

.about-me__bio {
    width: 600px;
    text-align: justify;
    margin: 60px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
    column-gap: 120px;
}

.project__name {
    color: #F3D6F4;
    text-shadow: 5px 5px 3px rgba(127, 127, 127, 0.964);
    font-size: 36px;
    margin: 0 0 30px;
}

.project__description {
    font-size: 24px;
    margin: 0 0 46px;
}

.project__stack {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 0 46px;
}

.project__technology {
    padding: 12px;
    background-color: rgba(1, 1, 1, 0.1);
    border-radius: 20px;
    transition: 0.4s;
}

.project__technology:hover {
    background-color: rgba(243, 214, 244, 0.3);
}

.project__type {
    padding: 12px;
    background-color: #0A5448;
    border-radius: 20px;
    transition: 0.4s;
    color: rgb(225, 225, 225);
}

.project__type:hover {
    background-color: rgba(10,84,72, 0.8);
}

.project__links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.project__link {
    color: #F3D6F4;
    padding: 12px;
    background-color: #0A5448;
    box-shadow: 3px 3px #F3D6F4;
    transition: 0.4s;
}

.project__link:hover {
    background-color: #F3D6F4;
    box-shadow: 3px 3px #0A5448;
    color: #0A5448;
    cursor: pointer;
}

.project__image {
    height: 250px;
}

.project_view_reverse {
    flex-direction: row-reverse;
}

.contacts__list {
    padding: 0;
    list-style-type: none;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0A5448;
    text-decoration: none;
    margin-bottom: 15px;
    transition: 0.4s;
}

.social-media:hover {
    opacity: 0.5;
}

.social-media__logo {
    height: 30px;
    margin-right: 12px;
}

.contacts__button {
    padding: 12px;
    background-color: #0A5448;
    box-shadow: 3px 3px #F3D6F4;
    transition: 0.4s;
    color: #F3D6F4;
    text-decoration: none;
}

.contacts__button:hover {
    background-color: #F3D6F4;
    box-shadow: 3px 3px #0A5448;
    color: #0A5448;
}