//colors
$pink: #F3D6F4;
$green: #0A5448;
$grey: whitesmoke;

$transition: 0.6s;

@mixin margin {
    margin: 0 148px 50px;

    @media screen and (max-width: 1279px) {
        margin: 0 48px 50px;
    }
}

@mixin padding-top {
    padding-top: 130px;

    @media screen and (max-width: 1279px) {
        padding-top: 100px;
    }
}

@mixin section-header {
    font-size: 56px;
    margin: 0 0 60px;
}

@mixin list {
    padding: 0;
    list-style-type: none;
}

@mixin button {
    color: $pink;
    padding: 4px 10px;
    background-color: $green;
    box-shadow: 3px 3px $pink;
    transition: $transition;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: $pink;
        box-shadow: 3px 3px $green;
        color: $green;
    }
}

@mixin bubble {
    padding: 12px 16px;
    border-radius: 25px;
    transition: $transition;
    font-weight: 900;
}