@import "../utils/styles.scss";

@keyframes running-line {
  0%{
    transform: translate(70px, 0);
  }
  
  50%{
    transform: translate(-70px, 0);
  }

  100%{
    transform: translate(70px, 0);
  }
}

.contacts {
  @include padding-top;
  margin-bottom: 0;
  padding-bottom: 60px;
  background-image: url(../images/contacts-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: white;
    opacity: 0.4;
  }
}

.contacts__container {
  position: relative;
  z-index: 1;
  @include margin;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contacts__header {
  @include section-header;
  margin: 0;
  margin-right: 80px;
}

.contacts__tip {
  color: white;
  font-size: 30px;
}

.contacts__text {
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 400;

  &:last-of-type {
    margin-bottom: 15px;
  }
}

.contacts__list {
  @include list;
  $margin-side: calc(100% - 330px);
  margin: 0 0 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: running-line 6s infinite linear;
  width: 330px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $green;
  text-decoration: none;
  transition: $transition;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;

  &:hover {
    opacity: 0.5;
  }
}

.social-media__logo {
  height: 22px;
  margin-right: 5px;
}

.contacts__button {
  @include button;
  font-size: 18px;
  margin-bottom: 60px;
}

.contacts__span {
  text-shadow: 0 5px 0 $pink;
}

.contacts__form {
  width: 470px;
  background-color: $grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  margin-bottom: 20px;
  width: 350px;
}

.contact-form__name {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.contact-form__description {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact-form__input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgba($color: $green, $alpha: 0.3);
  outline: none;
  font-size: 14px;
  color: $green;
  transition: $transition;
  background-color: transparent;

  &::placeholder {
    color: $green;
    opacity: 0.5;
  }

  &:focus {
    border-bottom: 1px solid $green;
  }
}

.contact-form__input_type_message {
  resize: none;
  margin-bottom: 40px;
}

.contact-form__button {
  @include button;
  width: 180px;
  align-self: center;
}

.pageclip-form__submit::after {
  border-color: rgba($color: $pink, $alpha: 0.8);
  border-left-color: $pink;
}

.pageclip-form__submit:after {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 1279px) {
  .contacts {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .contacts {
    padding-bottom: 200px;
  }

  .contacts__list {
    flex-direction: column;
    gap: 25px;
  }

  .contacts__button {
    margin-bottom: 100px;
  }

  .contacts__text {
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .social-media {
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-bottom: 100px;
  }

  .contacts__text {
    font-size: 18px;
  }

  .social-media {
    font-size: 18px;
  }

  .contacts__button {
    margin-bottom: 50px;
  }
}
