@import '../utils/styles.scss';

.footer {
    background-color: $pink;
    padding: 25px 120px;
    position: relative;
}

.footer__copyright {
    margin: 0;
    text-align: center;
}

.footer__image {
    height: 450px;
    position: absolute;
    bottom: 0;
}

.footer__image_left {
    left: 80px;
    transform: scale(-1, 1);
}

.footer__image_right {
    right: 80px;
}