@import '../utils/styles.scss';

.footer {
    background-color: $pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 120px;
}

.footer__copyright {
    margin: 0;
}

.footer__email {
    color: $green;
    text-decoration: none;
    transition: $transition;

    &:hover {
        opacity: 0.7;
    }
}