@import '../utils/styles.scss';

.header {
    width: 100%;
    position: fixed;
    background-color: rgba(214, 214, 214, 0.9);
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin-right: 148px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 25px 0; 
}

.navigation__link {
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
    color: $green;
    font-weight: 900;

    &:hover {
        text-shadow: 0 7px 0 $pink;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.header__lang {
    margin: 0 0 0 148px;
    font-weight: 900;
}

@media screen and (max-width: 1279px){
    .navigation {
        margin-right: 48px;
    }
    .header__lang {
        margin: 0 0 0 48px;
    }
}

@media screen and (max-width: 1023px){
    .navigation {
        margin-right: 24px;
    }
    .header__lang {
        margin: 0 0 0 24px;
    }
}

@media screen and (max-width: 767px){
    .navigation {
        margin-right: 16px;
    }
    .header__lang {
        margin: 0 0 0 16px;
    }

    .navigation__link {
        font-size: 12px;
    }

    .header__lang{
        font-size: 12px;
    }
}